*{
  padding: 0;
  margin:0%;
  box-sizing: content-box;
 
}

div{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(94,9,121,1) 44%, rgba(42,73,140,1) 100%);

padding: 20px;
}

h1{
  color: white;
  text-align: center;
}

a:link, a:visited {
  background: rgb(255,42,3);
background: linear-gradient(90deg, rgba(255,42,3,1) 0%, rgba(9,121,12,1) 44%, rgba(202,208,10,1) 100%);
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  
}


a:hover {
  box-shadow: 10px 10px 5px lightblue;

}
.botao01{
width: 90%;

}

ul{
  text-align: center;
  list-style: none;
}

body{
  background-image: url("01.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 50px;
}